.text {
    font-family: verdana;
    font-size: 13px;
    color: rgb(0, 0, 43);
}

.title {
    font-family: verdana;
    color: rgb(0, 0, 43);
    text-decoration: underline;
    font-size: 35px;
    border: 5px inset rgb(162, 221, 156);
    text-shadow: 1px 1px 0 black;
}

.subtitle {
    font-family: verdana;
    color: rgb(0, 0, 43);
    font-weight: bold;
    font-size: 16px;
}
